<!DOCTYPE html>
<html>
    {% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <title>Population</title>
</head>
<body style="font-family:Verdana;"><br>
  <h1 style="text-align:center;">Population</h1><br>
  <textarea type="text" class="form-control" id="myInput" name="output" rows="8" cols="30" disabled style="margin-left:50px; margin-right:50px; background-color:black; color:white;">
    
from dowelltraining3 import dowelltraining3

def call_fun(db_name, collection_name,field_name,time_period):
    NewObjectID=dowelltraining3(db_name, collection_name,field_name,time_period)
    return NewObjectID

print(call_fun('hr_hiring','dowelltraining',  ['full_name'], 'life_time'))

    
</textarea>

<button style='margin-left:50px;' class="btn btn-secondary" onclick="myFunction()">Copy text</button>
</br>
</br>
  <textarea type="text" class="form-control" id="myInput1" name="output" rows="20" cols="30" disabled style="margin-left:50px; margin-right:50px; background-color:black; color:white;">
    import json
    import requests
    
 
    url = 'https://100075.pythonanywhere.com/dowell_training_api/dowelltraining3/'
    
    def dowelltraining3(db_name, collection_name,field_name,time_period):
        #("Dowell", "research") - sample data
        data={
            "db_name":db_name,
            "collection_name":collection_name,
            "field_name":field_name,
            "time_period":time_period,
            }
    
        headers = {'content-type': 'application/json'}
        response = requests.post(url, json =data,headers=headers)
        return response.text
</textarea>

<button style='margin-left:50px;' class="btn btn-secondary" onclick="myFunction1()">Copy text</button>
</br>
</br>
  <textarea type="text" class="form-control" id="myInput2" name="output" rows="55" cols="30" disabled style="margin-left:50px; margin-right:50px; background-color:black; color:white;">
    if (request.method=="POST"):
       
    db_name = request.POST['data1']
    collection_name= request.POST['data2']
    field_name= request.POST['data3']
    time_period= request.POST['data4']
    print(db_name , collection_name , field_name , time_period)
    def targeted_population(database, collection, fields, period):
        url = 'http://100032.pythonanywhere.com/api/targeted_population/'
        database_details = {
            'database_name': 'mongodb',
            'collection': collection,
            'database': database,
            'fields': fields
            }
        number_of_variables = -1

        time_input = {
            'column_name': 'Date',
            'split': 'week',
            'period': period,
            'start_point': '2021/01/08',
            'end_point': '2021/01/25',
            }

        stage_input_list = [
            ]


        distribution_input={
            'normal': 1,
            'poisson':0,
            'binomial':0,
            'bernoulli':0
            }
        request_data={
            'database_details': database_details,
            'distribution_input': distribution_input,
            'number_of_variable':number_of_variables,
            'stages':stage_input_list,
            'time_input':time_input,
            }

        headers = {'content-type': 'application/json'}

        response = requests.post(url, json=request_data,headers=headers)
        print(response.text)
        return response.text
    response1 = targeted_population(db_name,collection_name,field_name,time_period)
    return JsonResponse ({"Data fetched using dowellpopulation function":response1})

return render(request , 'dowelltraining3web.html')

 
  
</textarea>

<button style='margin-left:50px;' class="btn btn-secondary" onclick="myFunction2()">Copy text</button>
</br>
</br>




<div class="form-group"   style="margin-left:50px;margin-right:50px;width:500px">
    <label for="output">Enter the DataBase Name</label>
      <input type="text"  class="form-control input1" id="input1">
</div>
<div class="form-group"   style="margin-left:50px;margin-right:50px;width:500px">
    <label for="output">Enter the Collection</label>
<input type="text" class="form-control input1" id="input2">
</div>
<div class="form-group"   style="margin-left:50px;margin-right:50px;width:500px">
    <label for="output">Enter the Field Name</label>
      <input type="text"  class="form-control input1" id="input3">
</div>
<div class="form-group"   style="margin-left:50px;margin-right:50px;width:500px">
    <label for="output">Enter the Time Period</label>
      <input type="text"  class="form-control input1" id="input4">
</div>

<button type='submit'  class="btn btn-primary submit" style="margin-left:50px;" onclick="postData(document.getElementById('input1').value, document.getElementById('input2').value, document.getElementById('input3').value, document.getElementById('input4').value)" >Post Data</button>



<script>

    async function postData(data1, data2 , data3 , data4){

        if (data1.length < 1 || data2.length < 1 || data3.length < 1 || data4.length < 1) return
            
        let formData = new FormData();
        formData.append('data1', data1);
        formData.append('data2', data2);
        formData.append('data3', data3);
        formData.append('data4', data4);
        
        const request = await fetch("https://100075.pythonanywhere.com/dowell_training_webapi/population/", { 
            
          method: 'POST',
          body: formData,
      
        });
        
        const response = await request.text();
      
        console.log(response);
      
      }
    
</script>
</body>
</html>