<!DOCTYPE html>
<html>
<body>

<h1>The button Element</h1>

<button id="post-btn">I'm a button</button>
 
<script>
    const button = document.getElementById('post-btn');

button.addEventListener('click', _ = async () => {
  try {
    const response = await fetch('https://100075.pythonanywhere.com/dowell_training_api/home/', {
      method: 'post',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        "name":"manish",
        "lastname":"Dash"
      })
    });
    console.log('Completed!', response);
  } catch(err) {

  }

  
});
</script>
</body>
</html>