<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
    <div class="card">
        <h5 class="card-header">Dowell Popultion function</h5>
        <div class="card-body">
          <p class="card-text">
            <pre>
                <code>
                    import json
                    import requests
                    def targeted_population(database, collection, fields, period):

                        url = 'http://100032.pythonanywhere.com/api/targeted_population/'

                        database_details = {
                            'database_name': 'mongodb',
                            'collection': collection,
                            'database': database,
                            'fields': fields
                        }
                        # number of variables for sampling rule
                        number_of_variables = -1

                        time_input = {
                            'column_name': 'Date',
                            'split': 'week',
                            'period': period,
                            'start_point': '2021/01/08',
                            'end_point': '2021/01/25',
                        }
                        stage_input_list = [
                        ]
                        # distribution input
                        distribution_input={
                            'normal': 1,
                            'poisson':0,
                            'binomial':0,
                            'bernoulli':0

                        }
                        request_data={
                            'database_details': database_details,
                            'distribution_input': distribution_input,
                            'number_of_variable':number_of_variables,
                            'stages':stage_input_list,
                            'time_input':time_input,
                        }
                        headers = {'content-type': 'application/json'}
                        response = requests.post(url, json=request_data,headers=headers)
                        return response.text
                    response = targeted_population('hr_hiring','dowelltraining',  ['full_name'], 'life_time')
                    print(response)
                </code>
            </pre>
          </p>
        </div>
      </div>
</body>
</html>

